<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- We get the name of the app out of the information fetched -->
    <title>{{app.name}}</title>
    <link href="static/screen.css" media="screen" rel="stylesheet" />
    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="The Resume Builder" property="og:title" />
    <meta content="product" property="og:type" />
    <meta content="https://apps.facebook.com/theresumebuilder/" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta content="{{appId}}" property="fb:app_id" />
    <script src="static/jquery-1.6.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/jquery.inlineedit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            $('.editable').inlineEdit();
        });
        
        $('#add-new-section-button').click(function(){
            $('#additional').append('<h1 class="editable">Additional Section</h1>
            <p class="editable">Additional Information</p>');
        });
    </script>
  </head>
  <body>
	
    <header class="clearfix">
      <!-- By passing a valid access token here, we are able to display -->
      <!-- the user's images without having to download or prepare -->
      <!-- them ahead of time -->
      <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture&access_token={{token}})"></p>
      <div>
        <h1>Welcome, <strong>{{me.name}}</strong></h1>
        <p class="tagline">
          You are using 
          <a href="{{app.link}}">{{app.name}}</a>
          to generate your HTML resume
        </p>
      </div>
    </header>	

    <section class="msg innershadow">
      <p>Let's get started with <span>{{app.name}}</span>!</p>
      <p>Please verify your basic info below</p>
      <p>You can edit many values by clicking on them</p>
    </section>

    <section class="part ">
        <h1 class="editable">{{me.name}}</h1>
        <h2>Short Description:</h2>
 		{% if me.bio %} 
			<p class="editable">{{me.bio}}</p>
		{% else %}
			<p class="editable">Short Description missing!</p>
		{% endif %}
        <h2>Website:</h2>
 		{% if me.website %} 
			<a href="{{me.website}}" class="editable">{{me.website}}</a>
		{% else %}
			<p class="editable">Website missing!</p>
		{% endif %}
        <h2>Current Location:</h2> 
		{% if me.location %}
			<p class="editable">{{me.location.name}}</p>
		{% else %}
			<p class="editable">location missing</p>
		{% endif %}
        <h2>Email:</h2> 
		{% if me.email %}
			{{me.email}}
		{% else %}
			<p class="editable">Email missing!</p>
		{% endif %}
        <h2>Phone Number:</h2> 
		{% if me.phone %}
			{{me.phone}}
		{% else %}
			<p class="editable">Phone number missing!</p>
		{% endif %}
    </section>
    
    <section class="msg innershadow">
      <p>Let's verify your <span>Work History</span> pulled from Facebook</p>
    </section>

    <section class="part ">
        <h1>Your Work History</h1>
        <ul class="big-list">
        {% for work in me.work %}
          <li>
            <p>
                <strong class="editable">{{work.position.name}} at {{work.employer.name}}</strong>,
                <span class="editable">{{work.location.name}}, from {{work.start_date}} to {{work.end_date}}</span>
            </p>
            <ul class="small-list">
                {% for project in work.projects %}
                <li>
                    <strong class="editable">{{project.name}}</strong><br />
                    <span class="editable">{{project.description}}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}</ul>
    </section>

    <section class="msg innershadow">
      <p>Let's go over your <span>Education History</span> pulled from Facebook</p>
    </section>

    <section class="part ">
        <h1>Your Education History</h1>
        <ul class="big-list">
        {% for school in me.education %}
          <li>
            <p>
                {% if school.concentration %}
                1 {{school.concentration}}
                2 {{school.concentration['name']}}
                3 {{school.concentration.name}}
                <strong class="editable">{{school.concentration.name}} at {{school.school.name}}</strong>
                {% else %}
                <strong class="editable">{{school.school.name}}</strong>
                {% endif %}
            </p>
            <ul class="small-list">
                {% for class in school.classes %}
                <li>
                    <strong class="editable">{{class.name}}</strong><br />
                    <span class="editable">{{class.description}}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}</ul>
    </section>

    <section class="msg innershadow">
      <p>Did you want to add additional sections to your Resume?</p>
      <p><a id="add-new-section-button"class="button" href="#">Add another section</a></p>
    </section>

    <section id="additional">
        <h1 class="editable">Additional Section</h1>
        <p class="editable">Additional Information</p>
    </section>

    <section class="msg innershadow">
      <p>Not satisfied with Information from Facebook?</p>
      <p>Come back after <a class="button" href="https://www.facebook.com/editprofile.php?sk=eduwork">Completing your Profile</a></p>
    </section>

    <section class="msg innershadow">
      <p>Not satisfied with Information from Facebook?</p>
      <p>Come back after <a class="button" href="https://www.facebook.com/editprofile.php?sk=eduwork">Completing your Profile</a></p>
    </section>


  </body>
</html>
