<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- We get the name of the app out of the information fetched -->
    <title>{{app.name}}</title>
    <link href="static/screen.css" media="screen" rel="stylesheet" />
    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="The Resume Builder" property="og:title" />
    <meta content="product" property="og:type" />
    <meta content="https://apps.facebook.com/theresumebuilder/" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta content="{{appId}}" property="fb:app_id" />
  </head>
  <body>
    <header class="clearfix">
      <!-- By passing a valid access token here, we are able to display -->
      <!-- the user's images without having to download or prepare -->
      <!-- them ahead of time -->
      <p id="picture" style="background-image: url()"></p>
      <img src="https://graph.facebook.com/me/picture?type=normal&access_token={{token}}">
      <div>
        <h1>Welcome, <strong>{{me.name}}</strong></h1>
        <p class="tagline">
          You are using 
          <a href="{{app.link}}">{{app.name}}</a>
          to generate your HTML resume
        </p>
      </div>
    </header>
    <section id="get-started">
      <p>Welcome to <span>{{app.name}}</span>!</p>
      <p>Not seeing what you like?</p>
      <a class="button" href="https://www.facebook.com/editprofile.php?sk=eduwork">Complete your Profile</a>
    </section>
    <section class="clearfix" id="samples">
      <h1>Examples of the Facebook Graph API</h1>
      <div class="list">
        <h3>A few of your friends</h3>
        <ul class="friends">{% for friend in friends.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
            <img src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
            {{friend.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list inline">
        <h3>Recent photos</h3>
        <ul class="photos">
          {% for photo in photos.data %}
            {% if loop.index0%4 == 0 %}
          <li class="first-column" style="background-image: url({{photo.picture}})">
            {% else %}
          <li style="background-image: url({{photo.picture}})">
            {% endif %}
            <a href="#" onclick="window.open('http://www.facebook.com/{{photo.id}}')">
              {{photo.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="list">
        <h3>Things you like</h3>
        <ul class="things">{% for like in likes.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{like.id}}')">
            <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.name}}">
            {{like.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list">
        <h3>Friends using this app</h3>
        <ul class="friends">{% for friend in app_friends %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.uid}}')">
            <img src="https://graph.facebook.com/{{friend.uid}}/picture?type=square" alt="{{friend.name}}">
            {{friend.name}}
            </a>
        </li>{% endfor %}</ul>
      </div>
    </section>
    <section class="clearfix" id="guides">
      <h1>Learn More About Heroku &amp; Facebook Apps</h1>
      <ul>
        <li>
          <a class="icon heroku" href="http://www.heroku.com/">Heroku</a>
          <p>Learn more about
          <a href="http://www.heroku.com/">Heroku</a>, or read developer docs in the Heroku
          <a href="http://devcenter.heroku.com/">Dev Center</a>.</p>
        </li>
        <li>
          <a class="icon websites" href="http://developers.facebook.com/docs/guides/web/">Websites</a>
          <p>Drive growth and engagement on your site with Facebook Login and Social Plugins.</p>
        </li>
        <li>
          <a class="icon mobile-apps" href="http://developers.facebook.com/docs/guides/mobile/">Mobile Apps</a>
          <p>Integrate with our core experience by building apps that operate within Facebook.</p>
        </li>
        <li>
          <a class="icon apps-on-facebook" href="http://developers.facebook.com/docs/guides/canvas/">Apps on Facebook</a>
          <p>Let users find and connect to their friends in mobile apps and games.</p>
        </li>
      </ul>
    </section>
  </body>
</html>
